--add-opens java.base/java.lang=ALL-UNNAMED
--add-opens java.base/java.util=ALL-UNNAMED
--add-opens java.base/java.lang.reflect=ALL-UNNAMED
--add-opens java.base/sun.security.util=ALL-UNNAMED
--add-opens java.base/sun.nio.ch=ALL-UNNAMED
--add-opens java.management/sun.management=ALL-UNNAMED
--add-exports java.base/sun.security.util=ALL-UNNAMED
-XX:+EnableDynamicAgentLoading
-XX:+IgnoreUnrecognizedVMOptions
-Xshare:off
-Djava.awt.headless=true